<%= form_for @qetquote, url: wizard_path, method: :put do |form| %>

  <% provide(:title, 'Quote Form')%>
<style>
  .container {
      width: 100%;
      max-width: 93%;
  }
  .container-fluid#containercolor {
    background-color:#e8ecf7;

  }
</style>

  <br><br><br><br>
  <br><br><br><br><br>
  <div class="row">
    <div class="col-sm-4">
      <h1 class="display-4">Do you own your home?</h1>

    </div>
    </div>
  <div class="col-lg-4">
  <div id="containercolor" class="container-fluid">



<!--
  <div class="row">

        <h1 class="display-3">Let's get started</h1>


      </div> -->
  <br><br>

  <div class="col-md-12">






    <div class="field">
      <li class="list-group-item" style="align:left"><%= form.label :ownhome, "I don't own my home", value: false %><%= form.radio_button :ownhome, false, :checked => true, :value => false %></li>

      <li class="list-group-item"><%= form.label :ownhome, "I own my home", value: true %><%= form.radio_button :ownhome, true, :value => true %></li>


        <div class="actions">
          <%= link_to "<button class='btn btn-primary btn-lg btn-block'>Next</button>".html_safe, next_wizard_path   %>

        </div>

      <% end %>
      <br>

  </div>
  </div>

  </div>
  </div>
