
<% provide(:title, 'Quotes')%>
<style>
.container{
  width: 1600px;


}
/* created_at_or_firstname_or_lastname_or_email_or_phone_or_industry_cont */

  .alert alert{
    padding-left:20px;
  }
  .navbar {
    background:white;
  }
  .navbar li {
      margin-left : 1em;
      margin-right : 2em;

      font-family: Impact, black, sans-serif;
      font-size: 26px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }
body
  {margin-top:20px;
    background:#eee;
    padding-right:60px;

}
/* unvisited link */
a:link {
  color: blue;
}

/* mouse over link */
a:hover {
  background-color: white;
  color: dodgerblue;
}
/* selected link */
a:active {
  color: blue;
}

.generated-text {
   font-family:'Lucida Grande', sans-serif;
   font-size: calc(3vw + 2vmin);
   color:#3f3aa4;
   background-color:#ffffff;
   padding:0px;
}
.logo {
  height: 85px;
   width: 115px;
}
#logo{
  float: left;
  margin-right: 3em;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}


.white-box{
  background-color: white;

}


























}</style>
<br>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div id="whitecontainers"  class="white-box">
<div class="row">
  <div class="col-md-12">


<br>
          <center><h2 style=padding-right:30px>Analytics</h2></center>


              <div class="col-md-6" id="chartContainer"></div>
              <%=@chart.render() %>
              <div class="col-md-6" id="chartContainer2"></div>
              <%=@chart2.render() %>
            </div>
            <br/>
          </div>
		  </div>
<br>

<div id="whitecontainers" class="white-box">
<div class="row">
  <div class="col-md-12">

        <br>



            <center><h3>Lead Dashboard</h3></center>


<br>


  <center>



<table id="albums" class="table" style="width:95%">
  <thead>

    <tr>

      <th><%= sort_link(@q, :created_at) do %>
            <strong>Date</strong>
          <% end %>
      </th>
      <th><%= sort_link(@q, :firstname) do %>
            <strong>First</strong>
          <% end %>
      </th>
      <th><%= sort_link(@q, :lastname) do %>
            <strong>Last</strong>
          <% end %>
      </th>
      <th><%= sort_link(@q, :email) do %>
            <strong>Email</strong>
          <% end %>
      </th>
      <th><%= sort_link(@q, :phone) do %>
            <strong>Phone</strong>
          <% end %>
      </th>
      <th><%= sort_link(@q, :industry) do %>
            <strong>Industry</strong>
          <% end %>
      </th>

          <%= search_form_for @q do |f| %>
            <th colspan="3">

            <%= f.search_field :firstname_or_lastname_or_email_or_phone_or_industry_cont%>
            <%= f.submit %>
            </th>
          <% end %>

    </tr>


    <!-- <tr>
      <th>Date</th>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr> -->
  </thead>

  <tbody>

              <% @qetquotes.each do |user| %>


                <tr>

                    	<th ><%= user.created_at.strftime('%b %e, %Y')  %></th>
                      <th><%= user.firstname %></th>
                      <th><%= user.lastname %></th>
                      <th><%= user.email %></th>
                      <th><%= user.phone %></th>
                      <th><%= user.industry %></th>


                      <th width="5%"><%= link_to "<button class='btn btn-outline-success'>View</button>".html_safe, qetquote_path(user.id) %></th>
                      <th width="5%"><%= link_to "<button class='btn btn-outline-primary'>Edit</button>".html_safe, edit_qetquote_path(user) %></th>
                      <td><%= link_to "<button class='btn btn-outline-danger'>Destroy</button>".html_safe,  user, method: :delete, data: { confirm: 'Are you sure?' } %></td>


                </tr>
            <% end %>

            </tbody>

        </table>
  </center>
      </div>
  </div>
</div>


        <script>
          gsap.from("#logo", {duration: 3, x: 300, opacity: 0, scale: 0.5});
        </script>


<br>

<!--
                    <th><span class="badge badge-success" style="background-color:lightseagreen">




                    <th><span class="badge badge-secondary" style="background-color:slateblue"> -->



                    <style>
                      var table = $("#albums").DataTable({
                       "paging": true,
                       "ordering": true,
                       "searching": true
                    });
                    </style>
