<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>

<style>
  .alert alert{
    padding-left:20px;
  }
  .navbar {
    background:white;
  }
  .navbar li {
      margin-left : 1em;
      margin-right : 2em;

      font-family: Impact, black, sans-serif;
      font-size: 26px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: normal;
      text-decoration: none;
      font-style: normal;
      font-variant: normal;
      text-transform: none;
  }
body
  {margin-top:20px;
    background:#eee;
    padding-right:60px;

}
.logo {
  height: 85px;
   width: 115px;
}
#logo{
  float: left;
  margin-right: 3em;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}
.card-header{
    padding: .75rem 1.25rem;
    background-color: #f5f5f5;
    // border: 1px solid black;
    // border-bottom: 1px solid black;

}
/*Invoice*/
.invoice .top-mid {
    font-size: 55px;
    color: #666666;
}
.savings {
  font-size: 20px;
  color: #66c691;

}
.invoice .top-left {
    font-size:65px;
	color:#3ba0ff;
  padding-left:20px;

}

.invoice .top-right {
	text-align:right;
	padding-right:20px;
}

.invoice .table-row {
	margin-left:-15px;
	margin-right:-15px;
	margin-top:25px;
}

.invoice .payment-info {
	font-weight:500;
}

.invoice .table-row .table>thead {
	border-top:1px solid #ddd;
}

.invoice .table-row .table>thead>tr>th {
	border-bottom:none;
}

.invoice .table>tbody>tr>td {
	padding:8px 20px;
}

.invoice .invoice-total {
	margin-right:-10px;
	font-size:16px;
}

.invoice .last-row {
	border-bottom:1px solid #ddd;
}

.invoice-ribbon {
	width:85px;
	height:88px;
	overflow:hidden;
	position:absolute;
	top:-1px;
	right:14px;
}

.ribbon-inner {
	text-align:center;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	position:relative;
	padding:7px 0;
	left:-5px;
	top:11px;
	width:120px;
	background-color:#66c591;
	font-size:15px;
	color:#fff;
}

.ribbon-inner:before,.ribbon-inner:after {
	content:"";
	position:absolute;
}

.ribbon-inner:before {
	left:0;
}

.ribbon-inner:after {
	right:0;
}

@media(max-width:700px) {
	.invoice .top-left,.invoice .top-right,.invoice .payment-details {
		text-align:center;
	}

	.invoice .from,.invoice .to,.invoice .payment-details {
		float:none;
		width:100%;
		text-align:center;
		margin-bottom:25px;
	}

	.invoice p.lead,.invoice .from p.lead,.invoice .to p.lead,.invoice .payment-details p.lead {
		font-size:22px;
	}

	.invoice .btn {
		margin-top:10px;
	}
}

@media print {
	.invoice {
		width:900px;
		height:800px;

	}




}</style>
<br>


<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div style="padding-right:80px" class="container  bootstrap snippets bootdeys" >
<div class="row">
  <div class="col-sm-12">
	  	<div class="panel panel-default invoice" id="invoice">
		  <div class="panel-body">
			<div class="invoice-ribbon"><div class="ribbon-inner">Quote</div></div>
		    <div class="row">

				<div class="col-sm-1 top-left">
					<i class="fa fa-rocket"></i>
				</div>

			<center>	<div class="col-sm-10">

						<h3 >Free Quote</h3>
            <div class="top-mid">
						   <span class="marginright">$<%= @qetquotes.homeprice %> Annually</span>
            </div>
            <br>
            <p class="savings">Save $235 Annually</p>
            <!-- <button class="btn btn-primary" id="invoice-print"><i class="fa fa-print"></i> Schedule Appointment To Discuss</button> -->
			    </div></center>

			</div>
			<hr>
			<div class="row">

				<div class="col-xs-4 from">
					<p class="lead marginbottom">From : Allstate</p>
					<p>350 Rhode Island Street</p>
					<p>San Francisco, CA 94103</p>
					<p>Phone: 555-555-3600</p>
					<p>Email: contact@allstate.com</p>
				</div>

				<div class="col-xs-4 to">
					<p class="lead marginbottom">To :  <%= @qetquotes.firstname%> <%=@qetquotes.lastname%></p>
					<p><%= @qetquotes.address %></p>
          <p><%= "#{@qetquotes.city}, #{@qetquotes.state} #{@qetquotes.zip2}" %></p>
          <p><%= @qetquotes.phone %></p>
          <p><%= @qetquotes.email %></p>

			    </div>

			    <div class="col-xs-4 text-right payment-details">
					<p class="lead marginbottom payment-info">Quote details</p>
					<p><%= "Date:  #{@qetquotes.created_at.strftime('%m/%d/%Y')}" %></p>
					<p>VAT: DK888-777 </p>
			    </div>

			</div>

			<div class="row table-row">
				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th style="width:50%">Item</th>
			          <th class="text-right" style="width:15%">Coverage</th>
			        </tr>
			      </thead>
			      <tbody>
			        <tr>
			          <td>Dwelling</td>
			          <td class="text-right">$143,849</td>
			        </tr>
			        <tr>
			          <td>Other structures</td>
			          <td class="text-right">$14,385</td>
			        </tr>
			        <tr>
			          <td>Personal property</td>
			          <td class="text-right">$71,925</td>
			        </tr>
              <tr>
                <td>Personal liability</td>
                <td class="text-right">$300,000</td>
              </tr>
			         <tr class="last-row">
			          <td>Total Coverage</td>
			          <td class="text-right">$530,159</td>
			        </tr>
			       </tbody>
			    </table>

			</div>

      <div class="row table-row">
				<table class="table table-striped">
			      <thead>
			        <tr>
			          <th style="width:50%">Premium</th>
			          <th class="text-right" style="width:15%">Total Cost</th>
			        </tr>
			      </thead>
			      <tbody>

			         <tr class="last-row">
			          <td>Annual Premium</td>
			          <td class="text-right">$<%= @qetquotes.homeprice %></td>
			        </tr>
			       </tbody>
			    </table>

			</div>


			<div class="row">
  			<div class="col-xs-6 margintop">
  				<p class="lead marginbottom">THANK YOU!</p>
          <!-- <button class="btn btn-success" onclick="window.location.href='/qetquotes'" id="invoice-print"><i class="fa fa-table"></i> Schedule Appointment To Discuss</button> -->
  				<!-- <button class="btn btn-success" id="invoice-print"><i class="fa fa-print"></i> Print Invoice</button> -->
  			</div>
  			<div class="col-xs-6 text-right pull-right invoice-total">
          <button class="btn btn-primary" onclick="window.location.href='https://calendly.com/beau-enslow/lead-gen'" id="invoice-print"><i class="fa fa-calendar"></i> Schedule Appointment To Discuss</button>
          <!-- <button class="btn btn-success" onclick="window.location.href='/qetquotes'" id="invoice-print"><i class="fa fa-table"></i>View All Quotes</button> -->

  			</div>
			</div>

		  </div>
		</div>
	</div>
</div>
</div>
<br>
</body>
</html>
