<p id="notice"><%= notice %></p>

<p>
  <strong>Zip:</strong>
  <%= @qetquote.zip %>
</p>

<p>
  <strong>Ownhome:</strong>
  <%= @qetquote.ownhome %>
</p>

<p>
  <strong>Deciding:</strong>
  <%= @qetquote.deciding %>
</p>

<p>
  <strong>Comparing:</strong>
  <%= @qetquote.comparing %>
</p>

<p>
  <strong>Ready:</strong>
  <%= @qetquote.ready %>
</p>

<p>
  <strong>Currentinscomp:</strong>
  <%= @qetquote.currentinscomp %>
</p>

<p>
  <strong>Currentrate:</strong>
  <%= @qetquote.currentrate %>
</p>

<p>
  <strong>Address:</strong>
  <%= @qetquote.address %>
</p>

<p>
  <strong>Singlefam:</strong>
  <%= @qetquote.singlefam %>
</p>

<p>
  <strong>Condo:</strong>
  <%= @qetquote.condo %>
</p>

<p>
  <strong>Coop:</strong>
  <%= @qetquote.coop %>
</p>

<p>
  <strong>Other:</strong>
  <%= @qetquote.other %>
</p>

<p>
  <strong>Primaryres:</strong>
  <%= @qetquote.primaryres %>
</p>

<p>
  <strong>Duplex:</strong>
  <%= @qetquote.duplex %>
</p>

<p>
  <strong>Threetofour:</strong>
  <%= @qetquote.threetofour %>
</p>

<p>
  <strong>Mobilehome:</strong>
  <%= @qetquote.mobilehome %>
</p>

<p>
  <strong>Manufacturedhome:</strong>
  <%= @qetquote.manufacturedhome %>
</p>

<p>
  <strong>Overthreeyears:</strong>
  <%= @qetquote.overthreeyears %>
</p>

<p>
  <strong>Homeyear:</strong>
  <%= @qetquote.homeyear %>
</p>

<p>
  <strong>Sqft:</strong>
  <%= @qetquote.sqft %>
</p>

<p>
  <strong>Beds:</strong>
  <%= @qetquote.beds %>
</p>

<p>
  <strong>Bathrooms:</strong>
  <%= @qetquote.bathrooms %>
</p>

<p>
  <strong>Numstories:</strong>
  <%= @qetquote.numstories %>
</p>

<p>
  <strong>Homedesign:</strong>
  <%= @qetquote.homedesign %>
</p>

<p>
  <strong>Roof:</strong>
  <%= @qetquote.roof %>
</p>

<p>
  <strong>Heating:</strong>
  <%= @qetquote.heating %>
</p>

<p>
  <strong>Foundation:</strong>
  <%= @qetquote.foundation %>
</p>

<p>
  <strong>Frame:</strong>
  <%= @qetquote.frame %>
</p>

<p>
  <strong>Material:</strong>
  <%= @qetquote.material %>
</p>

<p>
  <strong>Dogs:</strong>
  <%= @qetquote.dogs %>
</p>

<p>
  <strong>Pool:</strong>
  <%= @qetquote.pool %>
</p>

<p>
  <strong>Tramp:</strong>
  <%= @qetquote.tramp %>
</p>

<p>
  <strong>Rentout:</strong>
  <%= @qetquote.rentout %>
</p>

<p>
  <strong>Homeforbiz:</strong>
  <%= @qetquote.homeforbiz %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @qetquote.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @qetquote.lastname %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @qetquote.birthdate %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @qetquote.gender %>
</p>

<p>
  <strong>Occupation:</strong>
  <%= @qetquote.occupation %>
</p>

<p>
  <strong>Income:</strong>
  <%= @qetquote.income %>
</p>

<p>
  <strong>Married:</strong>
  <%= @qetquote.married %>
</p>

<p>
  <strong>Creditscore:</strong>
  <%= @qetquote.creditscore %>
</p>

<%= link_to 'Edit', edit_qetquote_path(@qetquote) %> |
<%= link_to 'Back', qetquotes_path %>
