
<header class="navbar navbar-fixed-top" >
<div class="container-fluid">
      <%= link_to "<img class='logo' src='https://cdn.dribbble.com/users/4643902/screenshots/14448748/media/5fc5e13d3aa7e5cafc4465e736454b34.png' id='logo'></img>".html_safe, root_path   %>

    <!-- <a ><img  class="navbar-brand" src="https://storage.googleapis.com/gravvi-audio/logos/ff6c9e512cbf4ecf84449e2f688c84e3%20(3).png" id="logo"></img></a> -->
      <!-- <a class="navbar-brand logo-image-lg" href="{% url 'home' %}"><img src="{% static 'homebase/images/Original.svg' %}" height="50" width="260"></a> -->

        <nav >



          <ul class="nav navbar-nav navbar-right" >

            <li ><%= link_to "Quotes", qetquotes_url %></li>
            <li><%= link_to "Github", about_path %></li>
            <% if logged_in? %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Profile", current_user %></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li><%= link_to "Log out", logout_path, method: :delete %></li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Login", login_path %></li>
            <% end %>
          </ul>
        </nav>

</div>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

</header>
